p {
    color: #aaaaaa;
    font-weight: 400;
    margin: 20px 0;
    font-size: .9em;
    line-height: 1.5em;
}

h1 {
    color: #dddddd;
    font-size: 35px;
    font-weight: 400;
    margin: 15px 0;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}